/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 2, 2023, 9:25:12 PM
    Author     : HP
*/

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px; /* Giảm padding */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 14px; /* Giảm kích thước chữ */
}

.search-btn {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 8px; /* Giảm padding */
    outline: none;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #0056b3;
}